#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container-4 {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr); */
}

.hidden-combo {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.try-line {
  display: flex;
  gap: 2px;
}
.square {
  background-color: yellow; /* Adjust the background color of the squares */
  color: aqua;
  width: 250px;
  height: 250px;
}
